@import 'unpoly';
@import '@docsearch/css';
@import '@dimerapp/docs-theme/styles';

:root {
  --shiki-color-text: #EEEEEE;
  --shiki-color-background: #2B2D30;
  --shiki-token-constant: #126D99;
  --shiki-token-string: #75FC7A;
  --shiki-token-comment: #7A7E85;
  --shiki-token-keyword: #0EA5E9;
  --shiki-token-parameter: #AA0000;
  --shiki-token-function: #0EA5E9;
  --shiki-token-string-expression: #75FC7A;

  --pre-line-height: 1.8;
  --code-font-size: 0.9rem;

  --alert-warning-border: rgba(255, 122, 0, 0.5);
  --alert-warning-background: rgba(255, 122, 0, 0.15);

  --alert-note-border: rgba(100, 79, 193, 0.5);
  --alert-note-background: rgba(100, 79, 193, 0.15);
}

.dimer_highlight {
  background-color: hsl(258, 20%, 17%) !important;
}

.alert.alert-warning {
  background-color: var(--alert-warning-background);
  border-color: var(--alert-warning-border);
}

.alert.alert-note {
  background-color: var(--alert-note-background);
  border-color: var(--alert-note-border);
}

.markdown .table_container {
  overflow-x: auto;
}

.markdown table {
  border-radius: var(--rounded-md);
  overflow: hidden;
  color: var(--pre-tabs-text-color);
}

.markdown table tr td, .markdown table tr th {
  border: 0;
}

.markdown table thead {
  background-color: var(--pre-background-color);
  border-bottom: 1px solid var(--pre-title-border-color)
}

.markdown table tbody {
  color: white;
  background-color: hsl(258, 20%, 17%) !important;
}

figure img {
  border-radius: 4px;
}

pre[data-lines-count]:hover .line.dim {
  opacity: 1;
}

pre[data-lines-count] .line.dim {
  opacity: 0.5;
  transition: opacity 0.1s ease-in-out;
}

pre[data-lines-count] .line.highlight  {
  opacity: 1;
}
